.blocks-content {
    display: flex;

    .blocks {
        padding: 0 16px;
        height: 36px;
        width: 140px;
        margin: 11px 4px;
        cursor: pointer;
        border: 1px 1px 2px 0px rgba(0, 0, 0, 0);
        text-align: center;

        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.157);
        }
    }
}