@import 'variables';

.blocks-content {
    display: flex;

    .blocks {
        background: $gray;
        height: 36px;
        margin: 11px 4px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px 16px;
        margin-bottom: 20px;

        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.157);
        }
    }
}