.center {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .search {
        height: 5vh;
        width: 40vw;
        border: 1px solid rgba(0, 0, 0, 0.157);
        outline: 0;
        border-radius: 32px;
        margin: 30px 0;
        display: flex;
        justify-content: center;

        &:hover {
            box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.144);
        }

        input {
            height: 100%;
            width: 80%;
            border: none;
            outline: 0;
        }
    }
}