@import 'variables';

.center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-text;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .search {
        min-height: 43.99px;
        min-width: 582px;
        border: 1px solid rgba(0, 0, 0, 0.157);
        outline: 0;
        border-radius: 32px;
        margin: 30px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        &:hover {
            box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.144);
        }

        input {
            height: 100%;
            width: 80%;
            border: none;
            outline: 0;
        }
    }
}