@import 'variables';

footer {
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    color: $text;
    background: $gray;
    height: 46px;
    
    .info {
        padding: 0 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.157);
        display: flex;
        height: 46px;
        justify-content: space-between;

        ul {
            display: flex;
        }
        li {
            list-style: none;
            margin: 0 15px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}