@import 'variables';

footer {
    height: 94px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: .9rem;
    color: $text;
    background: $gray;

    .country {
        height: 100%;
        display: flex;
        align-items: center;
        
        p {
            margin-left: 30px;
        }
    }
    
    .info {
        height: 100%;
        padding: 0 20px;
        border-top: 1px solid #dadce0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
        }
        li {
            list-style: none;
            margin: 0 15px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}