* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: roboto, sans-serif;
    font-size: clamp(.8rem, .8rem, .5rem);
    display: grid;
    grid-template-rows: 60px 1fr 94px;
    min-height: 400px;
}
.material-icons {
    color: gray;
}