* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: roboto, sans-serif;
  font-size: clamp(0.8rem, 0.8rem, 0.5rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 60px 1fr 94px;
      grid-template-rows: 60px 1fr 94px;
}

.material-icons {
  color: gray;
}

.blocks-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blocks-content .blocks {
  height: 36px;
  margin: 11px 4px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 16px;
  margin-bottom: 50px;
}

.blocks-content .blocks:hover {
  border: 1px solid rgba(0, 0, 0, 0.157);
}

.center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3c4043;
}

.center a {
  text-decoration: none;
}

.center a:hover {
  text-decoration: underline;
}

.center .search {
  min-height: 43.99px;
  min-width: 582px;
  border: 1px solid rgba(0, 0, 0, 0.157);
  outline: 0;
  border-radius: 32px;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center .search:hover {
  -webkit-box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.144);
          box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.144);
}

.center .search input {
  height: 100%;
  width: 80%;
  border: none;
  outline: 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3c4043;
}

header .links {
  margin-right: 15px;
  cursor: pointer;
}

header .links:hover {
  text-decoration: underline;
}

header .apps-icon {
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

header .apps-icon:hover {
  background: #f2f2f2;
}

header .login {
  background: #1a73e8;
  color: white;
  width: 105px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  font-size: .8rem;
  margin: 0px 10px;
}

footer {
  height: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
  color: #70757a;
  background: #f2f2f2;
}

footer .country {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .country p {
  margin-left: 30px;
}

footer .info {
  height: 100%;
  padding: 0 20px;
  border-top: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .info li {
  list-style: none;
  margin: 0 15px;
  cursor: pointer;
}

footer .info li:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */